node_modules
npm-debug.log
vendor/
.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
docker-compose.override.yml
storage/logs/*
bootstrap/cache/*
.vscode
.idea
*.log
.DS_Store
Thumbs.db